@import "tailwindcss";

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans, var(--font-ibm-plex-sans-arabic));
    --font-mono: var(--font-geist-mono);
}

body {
    background-color: theme("colors.neutral.100");
    color: var(--foreground);
    font-family: var(--font-sans);
}

@theme {
    --color-logocolor: #cfc8a4;
}
